@model FirstResponsiveWebAppSoulinthavong.Models.CalculateAge 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="css/custom.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Age Calculator</h1>
    <form asp-action="index" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name"> Name:</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="BirthYear"> Birth Year:</label>
            <input asp-for="BirthYear" />
        </div>
        <div>
            <!--<label>Output:</label>
            //<input value="@ViewBag.AgeThisYear" readonly />-->
            <p>@ViewBag.AgeThisYear</p>
        </div>
        <button type="submit">Calculate</button>
        <a asp-action="Index">Clear</a>
    </form>
</body>
</html>
